@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 1rem;
    overflow: hidden;      
  }
}

.wrapper{
  padding: 1rem;
}

.headBar{
  width: 100%;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 15px;  

  display: flex;
  justify-content: space-between;
  align-items: center;

  .brand{
    font-weight: 700;
  }

  .userIcon{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.rounded{
  display: flex;
  border: 2px solid #81163F;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

ion-item{
  border-bottom: solid 1px rgba(0,0,0,0.5)!important;
}


ion-item:last-of-type{
  border-bottom: none!important;
}