<ion-header>


  <div class="headBar">

    <div style="display: flex;justify-content: center;align-items: center;color: #493bff;" (click)="backProcourse()">
      <ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
      <span class="brand">Back</span>
    </div>

  </div>

</ion-header>
<ion-content>
<div class="wrapper">
  <h1 style="text-align: center;">Reported Issue History</h1>
</div>

<div style="width: 100%;padding: 1rem;">
  <div style="align-items: center; padding: 1rem;background: #f2f2f2;border-radius: 1rem;width: 100%;">

    <!-- List of Text Items -->
    <ion-card *ngFor="let issue of list_issue">
      
      <ion-card-header>
        <ion-card-subtitle *ngIf="issue.issue_status ==0" style="color: red;">Haven Answer</ion-card-subtitle>
        <ion-card-subtitle *ngIf="issue.issue_status ==1" style="color: green;">Answered</ion-card-subtitle>
        <ion-card-title style="font-size: 20px;">{{issue.issue_title}}</ion-card-title>
        

      </ion-card-header>

      <ion-card-content>
        {{issue.issue_details}}
      </ion-card-content>
      <ion-item>
          <ion-button (click)="details(issue)" *ngIf="issue.issue_status ==1" fill="outline" slot="end">Details</ion-button>
          <ion-button (click)="edit(issue.issue_id)" *ngIf="issue.issue_status ==0" fill="outline" slot="end" color="warning">Delete</ion-button>
        </ion-item>
    </ion-card>

 



    
  </div>
</div>



</ion-content>
