<ion-content>


<div class="headBar" style="margin-bottom: 2rem;">
	<div style="display: flex;justify-content: center;align-items: left;color: #81163F;" (click)="backHome()">
		<ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
		<span class="brand"></span>
	</div>
	<span class="brand" style="display: flex;justify-content: center;align-items: center;color: #81163F;">Restaurant</span> 
	<div style="display: flex;justify-content: center;align-items: left;color: #81163F;opacity: 0;">
		<ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
		<span class="brand"></span>
	</div>
</div>

  <ion-refresher slot="fixed" (ionRefresh)="fetchRestaurant($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


<ion-card  type="button" *ngFor="let record of restaurant_records">
	<img class="card-image" style="opacity: 0.5;" src="assets/food-image/utm.jpg" />
	<div class="card-title" style="color:#81163f ;" (click)="checkMenu(record.restaurant_id)">{{record.restaurant_name}}</div>
    <div class="card-subtitle" style="color:#81163f ; ">{{record.restaurant_address}}</div>
</ion-card>
</ion-content>


<ion-toolbar>

	<ion-tabs>
	  <ion-tab-bar slot="bottom">
	    <ion-tab-button>
	      <ion-icon [style.color]="'#81163f'" name="home"selected="true"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button tab="cart">
	      <ion-icon name="cart"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button tab="order-history">
	      <ion-icon name="reorder-four-outline"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button tab="personal-info">
	      <ion-icon name="person-circle-outline"></ion-icon>
	    </ion-tab-button>
	  </ion-tab-bar>
	</ion-tabs>

</ion-toolbar>

