ion-content.background{
    --background: url(../../assets/img/ktdi.jpg) 0 0/100% 100% no-repeat;
 
}
.MenuPosition{
	padding-top: 10%;
	padding-left: 7%;
}
ion-button {
	width:90%;
  height: 100px;
}