<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  	<ion-back-button defaultHref="/"></ion-back-button>
              </ion-buttons>
    <ion-title>Residential Colleges</ion-title>
  </ion-toolbar>
</ion-header>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<ion-content>
	
<div class="MenuPosition">

<ion-button (click)="registerPage()" color=light expand="full"><i class="material-icons">location_city&nbsp;</i>Hostel Registration</ion-button>
<ion-button (click)="electricPage()" color=light expand="full"><i class="material-icons">lightbulb&nbsp;</i>Electric Appliance</ion-button>
<ion-button (click)="complaintPage()" color=light expand="full"><i class="material-icons">build&nbsp;</i>Complaint</ion-button>
</div>



</ion-content>
