<ion-header>


  <div class="headBar">

    <div style="display: flex;justify-content: center;align-items: center;color: #493bff;" (click)="backProcourse()">
      <ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
      <span class="brand">Back</span>
    </div>

  </div>

</ion-header>
<ion-content>
<div class="wrapper">
  <h1 style="text-align: center;">Report Issue</h1>
</div>

<div style="width: 100%;padding: 1rem;">
  <div style="justify-content: space-between;align-items: center; padding: 1rem;background: #f2f2f2;border-radius: 1rem;width: 100%;">

    <form [formGroup]="loginForm">
      <ion-list lines="full" class="ion-no-margin">
        <ion-item>
          <ion-label position="floating">Matric Number</ion-label>
          <ion-input autocapitalize="on" formControlName ="matric" maxlength='9'></ion-input>
        </ion-item>
        <div *ngIf="isValidInput('matric')"
            class="alert alert-danger">
            <div *ngIf="loginForm.controls['matric'].errors.required" style="text-align: center;color: red;">
              Matric is required.
            </div>
          </div>

        <ion-item>
          <ion-label position="floating">Issue Title</ion-label>
          <ion-input formControlName ="title"></ion-input>
        </ion-item>
        <div *ngIf="isValidInput('title')"
            class="alert alert-danger">
            <div *ngIf="loginForm.controls['title'].errors.required" style="text-align: center;color: red;">
              Issue Title is required.
            </div>
          </div>

        
        <ion-item>
          <ion-textarea rows="6" cols="20" placeholder="Describe your issue..."></ion-textarea>
        </ion-item>

      </ion-list>
    </form>
  </div>
</div>

<ion-grid>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="11">

      <ion-button [disabled]="!loginForm.valid" (click)="presentAlert()" expand="block" color="danger">Report</ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
