<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Complaint History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
		<ion-item>
			<ion-label>
				<h1>21/5/2021</h1>
				<h2>Lampu Rosak</h2>
				<h3>* Technician was permitted to enter the room</h3>
			</ion-label>

			<ion-note style="text-align: right;">
				<span>Status:</span><br>
				 <span>Pending</span>
			</ion-note>
		</ion-item>
	</ion-list>
</ion-content>
