<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Complaint History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Complaint List</ion-card-title>
          </ion-card-header>
          <ion-card-content>
         <!--   <form  #form="ngForm" (ngSubmit)="register(form)">-->
          <ion-grid>
            <ion-row class="viewComplaintHistory()" *ngFor = "let status of status_info" color="primary" justify-content-center>
              <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
                <div padding>
                  <ion-item>
                    <ion-label>
                      <h1 >{{status.complaint_date}}</h1>
                      <h2 >{{status.complaint_reason}}</h2>
                      <h3 *ngIf=" status.permission == 0">-The technician is <strong>NOT PERMITTED</strong> to enter the room.</h3>
                      <h3 *ngIf=" status.permission == 1">-The technician is <strong>PERMITTED</strong> to enter the room.</h3>
                    </ion-label>

                    <ion-note style="text-align: right;">
                      <span>Status:</span><br>
                      <span *ngIf=" status.complaint_status == 'Pending'">{{status.complaint_status}}</span>
                       <span *ngIf=" status.complaint_status == 'Processing'" style="color:red">{{status.complaint_status}}</span>
                       <span *ngIf=" status.complaint_status == 'Completed'" style="color:green">{{status.complaint_status}}</span>
                    </ion-note>
                  </ion-item>
                </div>
                <br>

              </ion-col>
            </ion-row>
          </ion-grid>
    <!--    </form> -->
          </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
