<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button defaultHref="#" text="" icon="arrow-back-outline"></ion-back-button>
	  </ion-buttons>
    <ion-title>track-order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div style="width: 95%;margin-left:13px;margin-bottom: 10px;">
      <ion-card class="ion-card" style="background-color: #d1d9f5;" *ngFor="let record of order_records">
      <ion-grid>
      <ion-row>
      <ion-col size="5">
        <img src="https://people.utm.my/faizaljalal/files/2020/01/batch_IMG_6935-2.jpg">
      </ion-col>
      
      <ion-col size="7" class="ion-no-padding">
        <p class="card-title">{{record.restaurant_name}}</p>
        <p class="card-details">{{record.order_date}}</p>
        <div class="row">
          <div class="column">
            <p style="font-size: 20px;position: absolute;bottom:1px;font-weight: bold;color:black;">RM {{record.food_totalprice}}</p>
          </div>
        </div>
      </ion-col>
      </ion-row>
      </ion-grid>
       </ion-card>
  	</div>


	<ion-card style="overflow: visible; background-color: #ffffff;" *ngFor="let record of order_records">
		<ion-row class="section">
			<ion-col size="6">
				<p class="title">Restaurant Name</p>
			</ion-col>

			<ion-col size="6">
				<p class="output">{{record.restaurant_name}}</p>
			</ion-col>
		</ion-row>

		<ion-row class="section">
			<ion-col size="6">
			<p class="title">Pickup Location</p>
			</ion-col>
			<ion-col size="6">
			<p class="output">{{record.restaurant_address}}</p>
			</ion-col>
		</ion-row>

		<ion-row class="section">
			<ion-col size="6">
				<p class="title">Total Cost</p>
			</ion-col>
			<ion-col size="6">
				<p class="output">RM{{record.food_totalprice}}</p>
			</ion-col>
		</ion-row>

		<br>

		<ion-list class="status">
			<ion-list-header>
				<ion-label>Order Status</ion-label>

			</ion-list-header>

			<ion-item>
				<ion-label>Received</ion-label>
				<ion-icon name="checkmark-circle" *ngIf="record.order_status === 'Received' || record.order_status === 'Preparing' || record.order_status === 'Ready' || record.order_status === 'Pick Up'"   style="color: green;"  ></ion-icon>
			</ion-item>
			<ion-item>
				<ion-label>Preparing</ion-label>
				<ion-icon name="checkmark-circle" *ngIf="record.order_status === 'Preparing' || record.order_status === 'Ready' || record.order_status === 'Pick Up'"   style="color: green;"  ></ion-icon>
	
			</ion-item>
			<ion-item>
				<ion-label>Ready</ion-label>
				<ion-icon name="checkmark-circle" *ngIf="record.order_status === 'Ready' || record.order_status === 'Pick Up'"   style="color: green;"  ></ion-icon>
			</ion-item>
			<ion-item >
				<ion-label>Picked Up</ion-label>
				<ion-icon name="checkmark-circle" *ngIf="record.order_status === 'Pick Up'"   style="color: green;"  ></ion-icon>
			</ion-item>
		  </ion-list>	

	
	</ion-card>


	<ion-tabs>
	  <!-- Tab bar -->
	  <ion-tab-bar slot="bottom">
	    <ion-tab-button (click)="home()">
	      <ion-icon name="home"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button>
	      <ion-icon name="cart"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button (click)="history()">
	      <ion-icon name="reorder-four-outline"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button (click)="personal()">
	      <ion-icon name="person-circle-outline"></ion-icon>
	    </ion-tab-button>
	  </ion-tab-bar>
	</ion-tabs>
</ion-content>
