<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button defaultHref="#" text="" icon="arrow-back-outline"></ion-back-button>
	  </ion-buttons>
    <ion-title>track-order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card style="overflow: visible; background-color: #d1d9f5;" (click)="orderpage()">
		<ion-card-content>
			<ion-row>
				<ion-col size="3">
					<img class="gambor" src="https://people.utm.my/faizaljalal/files/2020/01/batch_IMG_6935-2.jpg" />
				</ion-col>


				<ion-col size="9">
					<ion-card-title style='color:black; overflow: visible; font-weight: bold; font-size: 18px'>Mak Ngah Buncit</ion-card-title>
					<ion-card-subtitle> 23 May 2021 10:30A.M
					</ion-card-subtitle>
					
					<ion-row>
						<ion-col size="4">
							<p style="padding-top:7px;">RM 15.00</p>
						</ion-col>

						<ion-col size="5">
							<ion-button size="small" color="warning" style="max-width: 100%; font-weight: bold; font-size:10px"><ion-icon name="time-outline"></ion-icon>Processing</ion-button>
						</ion-col>
					</ion-row>					
				</ion-col>
			  </ion-row>
		</ion-card-content>
	</ion-card>

	<ion-card style="overflow: visible; background-color: #ffffff;">
		<ion-row class="section">
			<ion-col size="7">
				<p class="title">Estimated Pickup at</p>
			</ion-col>

			<ion-col size="5">
				<p class="output">11.55 A.M.</p>
			</ion-col>
		</ion-row>

		<ion-row class="location">
			<p class="title">Pickup Location</p>
		</ion-row>
		<ion-row class="location">
			<p class="locationout">Pah Dunno Arked Meranti</p>
		</ion-row>

		<ion-row class="section">
			<ion-col size="6">
				<p class="title">Total Cost</p>
			</ion-col>

			<ion-col size="6">
				<p class="output">RM 15.00</p>
			</ion-col>
		</ion-row>

		<br>

		<ion-list class="status">
			<ion-list-header>
				<ion-label>Order Status</ion-label>

			</ion-list-header>

			<ion-item>
				<ion-label>Received</ion-label>
				<ion-icon name="checkmark-circle" style="color: green;"></ion-icon>
			</ion-item>
			<ion-item>
				<ion-label>Preparing</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>Ready</ion-label>
			</ion-item>
			<ion-item >
				<ion-label>Picked Up</ion-label>
			</ion-item>
		  </ion-list>	

	
	</ion-card>


	<ion-tabs>
	  <!-- Tab bar -->
	  <ion-tab-bar slot="bottom">
	    <ion-tab-button (click)="home()">
	      <ion-icon name="home"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button>
	      <ion-icon name="cart"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button (click)="history()">
	      <ion-icon name="reorder-four-outline"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button (click)="personal()">
	      <ion-icon name="person-circle-outline"></ion-icon>
	    </ion-tab-button>
	  </ion-tab-bar>
	</ion-tabs>
</ion-content>
