.gambor{
	width: 70px;
	height: 61px;
	overflow: visible;
	background-image: url(/* batch_IMG_6935-2.jpg */);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
}