<ion-content>    
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<div >
<ion-toolbar class="headBar" style="margin-bottom: 1rem;">
      <ion-buttons slot="start">
    <ion-back-button style="font-size: 0.8rem;color:#81163F" icon="arrow-back" text="" defaultHref="/"></ion-back-button>
     </ion-buttons>
  <ion-title class="brand" style="color: #81163F;">ELECTRIC APPLIANCE</ion-title>
</ion-toolbar> 

</div>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <ion-button size="small" (click)="formPage()"><i class="material-icons">add_circle_outline</i>&nbsp;Make New Registration</ion-button>

    <div style="padding-left:1rem;padding-top:0.5rem">
    <h3 style="color: #81163F;">Payment History</h3>
  </div>
  <ion-list>
    <ion-item class="CheckStatus()" *ngFor = "let status of status_info">
            <ion-label>
                <i style="color:chocolate;">Claim the <b>{{status.amt}}</b> stickers at office.</i>
                <h2 style="padding-top:0.5rem"><b>{{status.paydate}}</b></h2>
                  <h2 *ngIf="status.heater > 0">{{status.heater}} Heater/Kettle</h2>
                  <h2 *ngIf="status.charger > 0">{{status.charger}} Charger</h2>
                  <h2 *ngIf="status.dryer > 0">{{status.dryer}} Hair Dryer</h2>
                  <h2 *ngIf="status.iron > 0">{{status.iron}} Iron</h2>
                  <h2 *ngIf="status.toaster > 0">{{status.toaster}} Toaster</h2>
                  <h2 *ngIf="status.radio > 0">{{status.radio}} Radio</h2>
              </ion-label>

            <ion-note style="text-align: right;margin-top:8%">
                <p style="margin-bottom:-1%">paid by</p>
                <span><strong>{{status.payMethod}}</strong></span>
                <h3 style="color:mediumseagreen">total : <b>RM {{status.paytotal}}.00</b></h3>
            </ion-note>
    </ion-item>
    <div *ngIf="status_info.length === 0" style="text-align:center">No record found.</div>
  </ion-list>
</ion-content>
