<ion-header>
  <ion-toolbar>
  	  	<ion-buttons slot="start">
  	<ion-back-button defaultHref="/"></ion-back-button>
              </ion-buttons>
    <ion-title>Electric Appliance Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="MenuPosition">
    <ion-button (click)="formPage()" color=light expand="full">Electric Appliance Registration</ion-button>
    <ion-button (click)="historyPage()" color=light expand="full">Payment History</ion-button>
  </div>
</ion-content>
