<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="#" text="" icon="arrow-back-outline"></ion-back-button>
		  </ion-buttons>
		<ion-title>Personal Info</ion-title>
	  </ion-toolbar>
</ion-header>

<ion-content>


	<div class="card">
		<div class="header">
			<div class="avatar">
			<img src="https://image.flaticon.com/icons/png/512/147/147142.png" alt="profile">
			</div>
		</div>
	</div>

	<div class="ion-text-center name">
		You Kah Hoo
		<p>A18CS0281</p>
	</div>

	<ion-card style="background-color: #d1d9f5;">
		<ion-item href="#">
			<ion-label>My Orders</ion-label>
		</ion-item>

		<ion-item href="#">
			<ion-label>Personal Info</ion-label>
		</ion-item>

		<ion-item href="#">
			<ion-label>Legal Info</ion-label>
		</ion-item>

		<ion-item href="#">
			<ion-label>Contact Us</ion-label>
		</ion-item>

		<ion-item href="#">
			<ion-label>FAQ</ion-label>
		</ion-item>


	  </ion-card>















	<ion-tabs>
	  <!-- Tab bar -->
	  <ion-tab-bar slot="bottom">
	    <ion-tab-button (click)="home()">
	      <ion-icon name="home"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button>
	      <ion-icon name="cart"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button (click)="history()">
	      <ion-icon name="reorder-four-outline"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button (click)="personal()">
	      <ion-icon name="person-circle-outline"></ion-icon>
	    </ion-tab-button>
	  </ion-tab-bar>
	</ion-tabs>
</ion-content>
