<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  	<ion-back-button defaultHref="/hostel/registration"></ion-back-button>
              </ion-buttons>
    <ion-title>Kuota Pengetua</ion-title>
  </ion-toolbar>
</ion-header>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
<ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides class="register" *ngFor ="let count of register_detail">

        <ion-slide *ngIf = "count.registered == 0">
            <img src="assets/img/college-4.png" style="width:100%;height:auto;"/>
            <h2>Welcome</h2>
            <p><b>Kuota Pengetua</b> will be opened within these three weeks.</p>
        </ion-slide>

        <ion-slide *ngIf = "count.registered == 0">
          <img src="assets/img/college-2.png"/>
          <h2>What is Kuota Pengetua?</h2>
          <p><b>Kuota Pengetua</b> is a way to book a room and opened for those who interest to have their pre-booking in the hostel they wish to stay.</p>
        </ion-slide>

        <ion-slide *ngIf = "count.registered == 0">
          <img src="assets/img/college-3.png"/>
          <h2>How to Register?</h2>
          <p>First<b> select a hostel</b> from the hostel list.
          	<br/> Then <b>fill in your details</b> according to the form.
          	<br/> <b>Click submit</b> once you have done.</p>
        </ion-slide>

        <ion-slide *ngIf = "count.registered == 0">
          <img src="assets/img/college-1.png"/>
          <h2>Ready to Register?</h2>
          <ion-button (click)="KPregister()" fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>

        <ion-slide  *ngIf = "count.registered == 1">
          <ion-list class="verify" *ngFor= "let cnt of status">
            <ion-slide *ngIf = "cnt.status == 'Pending'">
              <img src="assets/img/college-1.png"/>
              <h2> Pending ! </h2>
              <p><b>Please wait patiently</b>.<br>
              Admin is reviewing your application.</p>
            </ion-slide>

            <ion-slide *ngIf = "cnt.status == 'Accepted'">
              <img src="assets/img/college-1.png"/>
              <h2><b>Success!</b> </h2>
              <p>You have registered successfully.</p>
            </ion-slide>

            <ion-slide *ngIf = "cnt.status == 'Rejected'">
              <img src="assets/img/college-1.png"/>
              <h2><b>Failed to Register!</b>! </h2>
              <p>Your application is rejected. <br/> Please register your room via the phase<br/> <b>Open Registration</b></p>
            </ion-slide>
          </ion-list>
        </ion-slide>

      </ion-slides>


    </ion-content>
