<ion-header>
  <ion-toolbar>
    <ion-title>kuota-pengetua</ion-title>
  </ion-toolbar>
</ion-header>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
<ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>

        <ion-slide>
          <div class="slide">
            <img src="assets/img/slide-1.png"/>
            <h2>Welcome</h2>
            <p><b>Kuota Pengetua</b> will be opened within these three weeks.</p>
          </div>
        </ion-slide>

        <ion-slide>
          <img src="assets/img/slide-2.png"/>
          <h2>What is Kuota Pengetua?</h2>
          <p><b>Kuota Pengetua</b> is a way to book a room for your coming year in UTM. It is also opened for those who interest to have their pre-booking in the hostel they wish to stay.</p>
        </ion-slide>

        <ion-slide>
          <img src="assets/img/slide-3.png"/>
          <h2>How to register Kuota Pengetua?</h2>
          <p><b>First</b> select the hostel you want from the hostel list. Then fill in your details according to the form. Click submit once you have done.</p>
        </ion-slide>

        <ion-slide>
          <img src="assets/img/slide-4.png"/>
          <h2>Ready to Register?</h2>
          <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>

      </ion-slides>
    </ion-content>
