<div class="headBar">
	<div style="display: flex;justify-content: center;align-items: center;color: #493bff;" (click)="backHome()">
		<ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
		<span class="brand"></span>
	</div>
	<p>UTMSmart Dining Modules</p> 
</div>



  <div style="width: 95%;margin:auto;margin-bottom: 10px;">
    <ion-card style="background-color: #d1d9f5;">
      <ion-grid>
      <ion-row>
      <ion-col>
        <img src="https://people.utm.my/faizaljalal/files/2020/01/batch_IMG_6935-2.jpg">
      </ion-col>
      
      <ion-col>
        <p style="font-size: 15px; font-weight: bold;color:black;">Nasi Lemak Ayam</p>
        <p style="font-size: 12px;">Speical nasi lemak with ayam goreng</p>
        <div class="row">
          <div class="column">
            <p style="font-size: 20px;position: absolute;bottom:1px;">RM 5.00</p>
          </div>
          <div class="column">
            <div  id="button-div"><ion-button size="small"  (click)="foodDetails()" >View</ion-button></div>
          </div>
        </div>
      </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card>
  </div>


<ion-content>

  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="backHome()">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="cart"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="history()">
        <ion-icon name="reorder-four-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="personal()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>
