<div class="headBar">
	<div style="display: flex;justify-content: center;align-items: center;color: #493bff;" (click)="backHome()">
		<ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
		<span class="brand"></span>
	</div>
	<p>UTMSmart Dining Modules</p> 
</div>

<ion-content>
 <ion-card>
    <ion-card-header>
  Shopping cart
  </ion-card-header>


     <img src="../assets/b.jpg"/>
 
     <ion-card-content>
    <p>BEET ROOT AND RED BEAN VEGAN BURGERS</p>
  </ion-card-content>

 <ion-row>
    <ion-col>
      <div>$ 10.00</div>
    </ion-col>
    <ion-col> 
      <div> x</div>
    </ion-col>
    <ion-col>
      <div> 3</div>
    </ion-col>
      <ion-col>
         <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
         </button>
      </ion-col>
 </ion-row>

  </ion-card>

  <ion-card>
        <img src="../assets/b.jpg"/>
 
     <ion-card-content>
    <p>BEET ROOT AND RED BEAN VEGAN BURGERS</p>
  </ion-card-content>

 <ion-row>
    <ion-col>
      <div>$ 10.00</div>
    </ion-col>
    <ion-col> 
      <div> x</div>
    </ion-col>
    <ion-col>
      <div> 3</div>
    </ion-col>
      <ion-col>
         <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
         </button>
      </ion-col>
 </ion-row>

  </ion-card>

   <ion-card>
        <img src="../assets/b.jpg"/>
 
     <ion-card-content>
    <p>BEET ROOT AND RED BEAN VEGAN BURGERS</p>
  </ion-card-content>

 <ion-row>
    <ion-col>
      <div>$ 10.00</div>
    </ion-col>
    <ion-col> 
      <div> x</div>
    </ion-col>
    <ion-col>
      <div> 3</div>
    </ion-col>
      <ion-col>
         <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
         </button>
      </ion-col>
 </ion-row>

  </ion-card>
  <ion-card>
 
  <ion-list>
    <button ion-item>
     
      Subtotal   $543
    </button>

    <button ion-item>
     
     Shipping  $5
    </button>

    <button ion-item>
    
      Total     $548
    </button>

   

  </ion-list>

<ion-list>
   <button ion-button type="submit"  >CHECKOUT</button>
</ion-list>
</ion-card>
 
</ion-content>
