<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  	<ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registered Electric Appliances</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>History</ion-card-title>
          </ion-card-header>
          <ion-card-content>
         <!--   <form  #form="ngForm" (ngSubmit)="register(form)">-->
              <ion-grid>
                <ion-row class="CheckStatus()" *ngFor = "let status of status_info" color="primary" justify-content-center>
                  <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
                    <div padding>
                      <ion-item>
                        <ion-label>
                          <h1 *ngIf=" status.paydate == ''">Outstanding</h1>
                          <h1 *ngIf=" status.paydate != ''"> {{status.paydate}}</h1>

                          <h2 *ngIf=" status.dryer > 0">{{status.dryer}} Dryer</h2>
                          <h2 *ngIf=" status.iron > 0">{{status.iron}} Iron</h2>
                          <h2 *ngIf=" status.charger > 0">{{status.charger}} Charger</h2>
                          <h2 *ngIf=" status.toaster > 0">{{status.toaster}} Toaster</h2>
                          <h2 *ngIf=" status.kettle > 0">{{status.kettle}} Kettle</h2>
                          <h2 *ngIf=" status.radio > 0">{{status.radio}} Radio</h2>

                        </ion-label>

                        <ion-note style="text-align: right;">

                          <h2>Total:</h2>
                          <h2> RM {{status.paytotal}}.00</h2>
                          <br>
                          <span>Paid by:</span><br>
                          <span *ngIf=" status.payMethod == ''">Haven't paid</span>
                          <span *ngIf=" status.payMethod != ''"> {{status.payMethod}}</span>
                        </ion-note>
                      </ion-item>
                    </div>
                    <br>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

