<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/hostel/registration"></ion-back-button>
                </ion-buttons>
    <ion-title>Open-registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
	<ion-list>
	<ion-list-header>
                  <ion-label>
                    Hi there! <ion-icon name="happy-outline"></ion-icon>
                  </ion-label>

                </ion-list-header>
                <br>
                <p>Choose your preferred college: </p><br>
<ion-item id="rounded">
        <ion-label fixed>Matric No.</ion-label>
        <ion-input [(ngModel)]="matricNo" maxlength="9" required="true"></ion-input>
      </ion-item>
<ion-item>
	<ion-label (click)="fetchCollege()">College</ion-label>
<ion-select [(ngModel)]="selectedOption">
	<ion-select-option *ngFor="let option of college_records" [value]="option">{{option.kolej_name}}</ion-select-option>
</ion-select>
</ion-item>
</ion-list><br>
<ion-button expand="block" (click)="submitCollege()">Done</ion-button>
</ion-content>
