<div>
<ion-toolbar class="headBar"  style="margin-bottom: 1rem;">
      <ion-buttons slot="start">
    <ion-back-button style="font-size: 0.8rem;color:#81163F" icon="arrow-back" text="" defaultHref="/hostel/registration"></ion-back-button>
     </ion-buttons>
  <ion-title class="brand" style="color: #81163F;">OPEN REGISTRATION</ion-title>
</ion-toolbar> 
</div>

<ion-content fullscreen>
    <ion-list class="ion-padding check()" *ngFor ="let cnt of check_op">
      <ion-list *ngIf = "(cnt.registered == 0)">
                <ion-list-header>
                  <ion-label style="color: #81163F;font-size:1.5rem">
                    Hi {{user_name}}! <ion-icon name="happy-outline"></ion-icon>
                  </ion-label>

                </ion-list-header>
                    <br>
                    <p>Choose your preferred college: </p><br>
                <ion-item>
                  <ion-label>Hostel</ion-label>
                      <ion-select [(ngModel)]="selectedOption">
                  <ion-select-option *ngFor="let option of college_records" [value]="option">{{option.kolej_name}}</ion-select-option>
                </ion-select>
                </ion-item>
        <br>
        <ion-button style="--background: #81163F;" expand="block" (click)="submitCollege()">Done</ion-button>
      </ion-list>

      <!--Check if apply the open registration-->
      <!--Open registration: Notify student about the pending application-->
      <ion-list *ngIf = "cnt.registered == 1">
        <ion-list class="register()" *ngFor = "let count of register_detail">
          <ion-list  *ngIf = "count.status == 'Pending'" style="text-align:center;">
            <img src="assets/img/college-1.png"/>
            <h2> Pending ! </h2><br>
            <p><b>Please wait patiently</b>.<br>
              Admin is reviewing your application.</p>
          </ion-list>

          <!--Open registration: Notify student about the rejected application-->
          <ion-list  *ngIf = "count.status == 'Rejected'" style="text-align:center;">
            <img src="assets/img/college-1.png"/>
            <h2> Rejected ! </h2><br>
            <p><b>Please contact the hostel management team</b>.<br>
              Your application is not accepted.</p>
          </ion-list>

          <!--Open registration: Notify student about the accepted application-->
          <ion-list  *ngIf = "count.status == 'Accepted'" style="text-align:center;">
            <img src="assets/img/college-1.png"/><br>
            <h2> Success ! </h2><br>
            <p>You have<b> registered successfully</b> for the application.</p>
          </ion-list>
      </ion-list>
    </ion-list>
  </ion-list>
</ion-content>

