<ion-header>
  <ion-toolbar>
  	  	<ion-buttons slot="start">
  	<ion-back-button defaultHref="/"></ion-back-button>
              </ion-buttons>
    <ion-title>Hostel Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
<ion-button (click)="kuotaPage()" color=light expand="full">Hostel Registration</ion-button>
<ion-button (click)="openPage()" color=light expand="full">Electric Appliance</ion-button>
<ion-button (click)="amendPage()" color=light expand="full">Complaint</ion-button>
</div>

</ion-content>
