.MenuPosition{
	padding-top: 5%;
	padding-left: 7%;
}
ion-button{
	width:90%;
  height: 100px;
  color:light;
}

.headBar{
  width: 100%;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 5px;  

  display: flex;
  justify-content: space-between;
  align-items: center;

  .brand{
    font-weight: 700;
  }

}