<ion-header>


  <div class="headBar">

    <div style="display: flex;justify-content: center;align-items: center;color: #493bff;" (click)="backCourse()">
      <ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
      <span class="brand">Back</span>
    </div>

  </div>

</ion-header>


<ion-content>

  <ion-content fullscreen>
    <div *ngFor="let history of section_list">
    <ion-card>
      <img src="assets/icon/{{history.procourse_type}}.png" />
      <ion-card-header>
        <ion-card-subtitle>{{history.procourse_code}}</ion-card-subtitle>
        <ion-card-title>{{history.procourse_name}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <span style="color:black"><strong>SECTION&nbsp;{{history.section_no}}</strong></span><br><br>

        <span style="color:black"><strong>Appointment Details:</strong></span><br>
        <ul>
          <li><strong>Date : {{history.courseSec_date}}</strong></li>
          <li><strong>Location : {{history.courseSec_loc}}</strong></li>
          <li><strong>Facilitator : {{history.fac_name}}</strong></li>
        </ul><br>
        <ion-card-subtitle style="color:red;text-align:right">{{history.procourse_type}}</ion-card-subtitle>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col size="11" >
          <ion-button *ngIf="history.diff > 3" expand="block" color="danger" (click)="presentAlertConfirm(history)">Cancel</ion-button>
          <ion-button *ngIf="history.diff <= 3 && history.courseSec_date > history.today" expand="block" color="danger" (click)="report()">Report To Cancel</ion-button>
          <!-- <ion-button  expand="block" color="danger"> -->
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
