<ion-content>

	<div class="headBar" style="margin-bottom: 2rem;">

		<div style="display: flex;justify-content: center;align-items: left;color: #81163F;" (click)="govehicle()">
			<ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
			<span class="brand"></span>
		</div>
		<span class="brand" style="display: flex;justify-content: center;align-items: center;color: #81163F;">VIEW TICKET</span> 
		<div style="display: flex;justify-content: center;align-items: left;color: #81163F;opacity: 0;">
			<ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
			<span class="brand"></span>
		</div>
	
	</div>




 
    
      <ion-row style="border-bottom: groove;">
        <ion-col col-2>
          <ion-label>Ticket ID</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-label>Plate Number</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-label>Description</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-label>Amount</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-label>Status</ion-label>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: groove;" *ngFor="let record of ticket_records">
        <ion-col col-4>
        <ion-label >{{record.id}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{record.vehiclePlateNo}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{record.ticketDesc}}</ion-label>
      </ion-col>
        <ion-col col-4>
        <ion-label >{{record.ticketAmount}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{record.ticketStatus}}</ion-label>
      </ion-col>
    </ion-row>
    






</ion-content>


