<ion-header>


    <div class="headBar" >

  <div style="display: flex;justify-content: center;align-items: left;color: #81163F;" (click)="backProcourse()">
    <ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
    <span class="brand"></span>
  </div>
  <ion-title class="brand" style="display: flex;justify-content: center;align-items: center;color: #81163F;">REGISTERED COURSE</ion-title> 
  <div style="display: flex;justify-content: center;align-items: left;color: #81163F;opacity: 0;">
    <ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
    <span class="brand"></span>
  </div>

</div>

</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<br>
<div style="width: 100%;padding: 1rem;" *ngIf="history_list.length != 0">
  <div style="display: flex;justify-content: space-between;align-items: center; padding: 1rem;background: #f2f2f2;border-radius: 1rem;width: 100%;">

    <!-- List of Text Items -->
    <ion-list>
      <div *ngFor="let history of history_list" >
      <ion-item (click)="viewDetails(history.regHis_id)">
        <ion-label class="ion-text-wrap">
          <h2>{{history.pro_name}}</h2>
          <h3 style="color: #493bff;"><strong>{{history.pro_code}}</strong></h3>
        </ion-label>
        <ion-note style="text-align: right;">
          <br><span>{{history.course_date}}</span>
        </ion-note><br>
      </ion-item>
    </div>
    </ion-list>


    
  </div>
</div>

<div *ngIf="history_list.length == 0">
    <h3 style="text-align: center; font-weight: bold;">No registration history</h3>
    <h6 style="text-align: center;">Please register the pro-course as soon as possible.</h6>
  </div>
</ion-content>
