<ion-header>


  <div class="headBar">

    <div style="display: flex;justify-content: center;align-items: center;color: #493bff;" (click)="backProcourse()">
      <ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
      <span class="brand">Back</span>
    </div>

  </div>

</ion-header>
<ion-content>
<div class="wrapper">
  <h1 style="text-align: center;">Registered Course</h1>
</div>

<div style="width: 100%;padding: 1rem;">
  <div style="display: flex;justify-content: space-between;align-items: center; padding: 1rem;background: #f2f2f2;border-radius: 1rem;width: 100%;">

    <!-- List of Text Items -->
    <ion-list>
      <button (click)="viewDetails()">
      <ion-item >
        <ion-label class="ion-text-wrap">
          <h2>Design Thinking For Enterpreneur</h2>
          <h3 style="color: #493bff;">GLRB0010</h3>
        </ion-label>
        <ion-note style="text-align: right;">
          <br><span>2021-5-20</span>
        </ion-note><br>
      </ion-item>
      </button>

      <button>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>Profrssional Ethics and Intergrity</h2>
          <h3 style="color: #493bff;">GLRM0020</h3>
        </ion-label>
        <ion-note style="text-align: right;">
          <br><span>2021-5-26</span>
        </ion-note>
      </ion-item>
      </button>
    
      
    </ion-list>


    
  </div>
</div>
</ion-content>
