<ion-header>


  <div class="headBar">

    <div style="display: flex;justify-content: center;align-items: center;color: #493bff;" (click)="backCourse()">
      <ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
      <span class="brand">Back</span>
    </div>

  </div>

</ion-header>


<ion-content>

  <ion-content fullscreen>
    <div *ngFor="let code of procourse_list">
    <ion-card>
      <img src="assets/icon/{{code.procourse_code}}.png" />
      <ion-card-header>
    <ion-card-subtitle>{{code.procourse_code}}</ion-card-subtitle>
    <ion-card-title >{{code.procourse_name}}</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <span style="color:black"><strong>Objectives</strong></span><br>
    {{code.procourse_objective}}
  </ion-card-content>
  <ion-card-content>
    <span style="color:black"><strong>Learning Outcome</strong></span><br>
    {{code.procourse_learningOut}}
    <ion-card-subtitle style="color:red;text-align:right">{{code.procourse_type}}</ion-card-subtitle>
  </ion-card-content>
</ion-card>
</div>

<ion-card>

  <ion-item *ngFor="let section of section_list;let i=index" (click)="presentAlertMultipleButtons(section,i)">
    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
    <ion-label>Section {{i+1}}</ion-label>
    
    <ion-badge *ngIf="section.courseSec_seat < (section.courseSec_maxseat / 2)" color="warning">{{section.courseSec_seat}} / {{section.courseSec_maxseat}}</ion-badge>
    <ion-badge *ngIf="section.courseSec_seat >= (section.courseSec_maxseat / 2) && section.courseSec_seat != section.courseSec_maxseat">{{section.courseSec_seat}} / {{section.courseSec_maxseat}}</ion-badge>
    <ion-badge *ngIf="section.courseSec_seat == section.courseSec_maxseat && section.courseSec_seat!=0" color="danger">FULL</ion-badge>

  </ion-item>
 
</ion-card>


</ion-content>
