<ion-header>


  <div class="headBar">

    <div style="display: flex;justify-content: center;align-items: center;color: #493bff;" (click)="backCourse()">
      <ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
      <span class="brand">Back</span>
    </div>

  </div>

</ion-header>


<ion-content>

  <ion-content fullscreen>
    <div *ngFor="let code of procourse_list">
    <ion-card>
      <img src="assets/icon/design-thinking.png" />
      <ion-card-header>
    <ion-card-subtitle>{{code.procourse_code}}</ion-card-subtitle>
    <ion-card-title>{{code.procourse_name}}</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <span style="color:black"><strong>Objectives</strong></span><br>
    {{code.procourse_objective}}
  </ion-card-content>
  <ion-card-content>
    <span style="color:black"><strong>Learning Outcome</strong></span><br>
    <!-- At the end of this course, the student will be able to: -->
    {{code.procourse_learningOut}}
    <!-- <ul>
      <li>Understand the concepts of design thinking approaches</li>
      <li>Create design thinking teams and conduct design thinking sessions</li>
      <li>Apply both critical thinking and design thinking in parallel to solve problems</li>
    </ul> -->
    <ion-card-subtitle style="color:red;text-align:right">{{code.procourse_type}}</ion-card-subtitle>
  </ion-card-content>
</ion-card>
</div>

<ion-card>
  <ion-alert-controller></ion-alert-controller>
  <ion-item (click)="presentAlertMultipleButtons()">
    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
    <ion-label>Section 1</ion-label><ion-badge>30</ion-badge>
  </ion-item>

  <ion-alert-controller></ion-alert-controller>
  <ion-item (click)="presentAlertMultipleButtons()">
    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
    <ion-label>Section 2</ion-label><ion-badge color="warning">11</ion-badge>
  </ion-item>

  <ion-alert-controller></ion-alert-controller>
  <ion-item (click)="presentAlertMultipleButtons()">
    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
    <ion-label>Section 3</ion-label><ion-badge color="danger">FULL</ion-badge>
  </ion-item>
  
 
</ion-card>


</ion-content>
