<ion-content>

	<ion-refresher slot="fixed" (ionRefresh)="fetchUpcoming($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<div class="headBar">

		<div style="display: flex;justify-content: center;align-items: center;color: #81163F;" (click)="backHome()">
			<ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
			<span class="brand">back to home</span>
		</div>

	</div>

	<div class="wrapper">
		<h1 style="text-align: center;">Schedule</h1>

		<ion-list>
			<ion-item *ngFor="let class of classes">
				<ion-label>
					<h1>{{class.subject_name}}</h1>
					<h3>{{class.subject_code}} Section {{class.section_number}}</h3>
					<span>{{class.class_time | date : 'shortTime'}}</span><br>
					<span>{{class.class_time | date : 'EEE dd MMM yyyy'}}</span>
				</ion-label>

				<ion-button *ngIf="!class.notification_scheduled" slot="end" (click)="scheduleNotification(class)">
					set reminder
				</ion-button>
				<ion-button *ngIf="class.notification_scheduled" slot="end" (click)="removeNotification(class)" color="danger">
					remove reminder
				</ion-button>
			</ion-item>
		</ion-list>



	</div>



</ion-content>
