<ion-header>
	<ion-toolbar>
		<ion-title style='font-weight: bold'>Order History</ion-title>
		  	<div class="headBar">
				<div style="display: flex;justify-content: left;align-items: left;color: #493bff;" (click)="backHome()">
					<ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
					<span class="brand"></span>
					<!--p style="align-content: left; color:black; font-weight: bold;">Order History</p--> 
				</div>
				
			</div>
	</ion-toolbar>
</ion-header>
	<ion-content fullscreen>
		<br>
		<!---peding/track --------------------------------------------------------------------------->
	    <ion-card style="overflow: visible; background-color: #d1d9f5;" 
	    *ngFor="let record of orderhistory_records" (click)="checkOrder(record.order_id)"
	    >
	        <ion-card-content >
	        	<ion-row >
	        		<ion-col size="3">
			        	<img class="gambor" src="https://people.utm.my/faizaljalal/files/2020/01/batch_IMG_6935-2.jpg" />
		          	</ion-col>
		          	<ion-col size="5">
		          		<ion-card-title style='color:black; overflow: visible; font-weight: bold; font-size: 18px'>{{record.restaurant_name}}</ion-card-title>
		          		<ion-card-subtitle> {{record.order_date}}
		          		</ion-card-subtitle>
		          		<p>RM {{record.order_price}}</p>
		          	</ion-col>
		          	<!-- <ng-template  #processingBlock> -->
			          	<ion-col *ngIf="record.order_status=='Processing'">
			          		<ion-button size="small" color="warning" style="max-width: 100%; font-weight: bold; font-size:12px"><ion-icon name="time-outline"></ion-icon>Processing</ion-button>

			          		<ion-button size="small" color="success" style="max-width: 100%; font-weight: bold; font-size:12px"><ion-icon name="location-outline"></ion-icon>Track it</ion-button>
			          	</ion-col>
		          	<!-- </ng-template> -->
		          	<!-- <ng-template #completedBlock> -->
		          		<ion-col  *ngIf="record.order_status=='Completed'">
			          		<ion-button size="small" color="success" style="max-width: 100%; font-weight: bold; font-size:12px"><ion-icon name="checkmark-circle-outline"></ion-icon>Completed</ion-button>
			          	</ion-col>
		          	<!-- </ng-template> -->
		          	<!-- <ng-template #cancelledBlock> -->
		          		<ion-col  *ngIf="record.order_status=='Cancelled'" >
			          		<ion-button size="small" color="danger" style="max-width: 100%; font-weight: bold; font-size:12px"><ion-icon name="close-circle-outline"></ion-icon>Cancelled</ion-button>
			          	</ion-col>
		          	<!-- </ng-template> -->
		          		<ion-col  *ngIf="record.order_status=='Pick Up'" >
			          		<ion-button size="small" color="warning" style="max-width: 100%; font-weight: bold; font-size:12px"><ion-icon name="Bag-outline"></ion-icon>Pick Up Now</ion-button>
			          	</ion-col>
	          	</ion-row>
	        </ion-card-content>
	    </ion-card>

</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-tabs class="footer">
		  <!-- Tab bar -->
		  <ion-tab-bar slot="bottom">
		    <ion-tab-button (click)="home()">
		      <ion-icon name="home"></ion-icon>
		    </ion-tab-button>
		    <ion-tab-button>
		      <ion-icon name="cart"></ion-icon>
		    </ion-tab-button>
		    <ion-tab-button (click)="history()">
		      <ion-icon name="reorder-four-outline"></ion-icon>
		    </ion-tab-button>
		    <ion-tab-button (click)="personal()">
		      <ion-icon name="person-circle-outline"></ion-icon>
		    </ion-tab-button>
		  </ion-tab-bar>
		</ion-tabs>
	</ion-toolbar>
</ion-footer>