<ion-content fullscreen>


<div class="headBar">
  <div style="display: flex;justify-content: center;align-items: center;color: #493bff;" (click)="backHome()">
    <ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
    <span class="brand">Back to home</span>
  </div>
  
</div>

<div class="wrapper">
  <h1 style="text-align: center;padding-bottom: 10px;">Order History</h1>
</div>





  <div style="width: 95%;margin-left:13px;margin-bottom: 10px;">
      <ion-card style="background-color: #d1d9f5;" *ngFor="let record of orderhistory_records" (click)="checkOrder(record.order_id)">
      <ion-grid>
      <ion-row>
      <ion-col>
        <img class="img" src="https://people.utm.my/faizaljalal/files/2020/01/batch_IMG_6935-2.jpg">
      </ion-col>
      
      <ion-col>
        <p style="font-size: 15px; font-weight: bold;color:black;padding: 0px; margin: 0px; ">Order Id: #{{record.order_id}}</p>
        <p style="font-size: 12px;padding-bottom:1px;">Date: {{record.order_date}}</p>
        <div class="row">
       		<ion-button *ngIf="record.order_status=='Completed'" size="small" color="success" style="max-width: 100%;font-weight: bold; font-size:12px"><ion-icon name="checkmark-circle-outline"></ion-icon>Completed</ion-button>
			<ion-button *ngIf="record.order_status=='Cancelled'" size="small" color="danger" style="max-width: 100%; font-weight: bold; font-size:12px"><ion-icon name="close-circle-outline"></ion-icon>Cancelled</ion-button>
			<ion-button *ngIf="record.order_status=='Pick Up'" size="small" color="warning" style="max-width: 100%; font-weight: bold; font-size:12px"><ion-icon name="Bag-outline"></ion-icon>Pick Up Now</ion-button>
		



				<div class="row">
					<div class="column" style="margin-right:10px;  width: 50%;">
			    		<ion-button *ngIf="record.order_status=='Preparing'" size="small" color="warning" style="max-width: 100%; font-weight: bold; font-size:12px"><ion-icon name="time-outline"></ion-icon>Preparing</ion-button>
					</div>
					<div class="column" style="width: 44%;">
						<ion-button *ngIf="record.order_status=='Preparing'" size="small" color="success" style="max-width: 100%; font-weight: bold; font-size:12px" (click)="trackOrder($event,record.order_id)"><ion-icon name="location-outline"></ion-icon>Track it</ion-button>
					</div>
				</div>


			    
		

        </div>

        <div class="row" >
          <div class="column">
            <p style="font-size: 20px;position: absolute;bottom:-12px;font-weight: bold;color:black;">RM {{(record.order_price*1).toFixed(2)}}</p>
          </div>
        </div>

       	<div class="row">
          <div class="column">
          	<div  id="button-div">



			</div>
          </div>
       
            		<!-- <ng-template  #processingBlock> -->

		          	<!-- </ng-template> -->
		          	<!-- <ng-template #completedBlock> -->
		          		
		          	<!-- </ng-template> -->
		          	<!-- <ng-template #cancelledBlock> -->

		          	<!-- </ng-template> -->


        </div>
      </ion-col>
      </ion-row>
      </ion-grid>
       </ion-card>
  </div>


		<br>

</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-tabs class="footer">
		  <!-- Tab bar -->
		  <ion-tab-bar slot="bottom">
		    <ion-tab-button (click)="home()">
		      <ion-icon name="home"></ion-icon>
		    </ion-tab-button>
		    <ion-tab-button (click)="cart()">
		      <ion-icon name="cart"></ion-icon>
		    </ion-tab-button>
		    <ion-tab-button (click)="history()">
		      <ion-icon color="primary"  name="reorder-four-outline"></ion-icon>
		    </ion-tab-button>
		    <ion-tab-button (click)="personal()">
		      <ion-icon name="person-circle-outline"></ion-icon>
		    </ion-tab-button>
		  </ion-tab-bar>
		</ion-tabs>
	</ion-toolbar>
</ion-footer>