<ion-content  *ngFor="let record of food_list">
 

<div class="headBar" style="margin-bottom: 0.5rem;">
  <div style="display: flex;justify-content: center;align-items: left;color: #81163F;" (click)="backHome()">
    <ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
    <span class="brand"></span>
  </div>
  <span class="brand" style="display: flex;justify-content: center;align-items: center;color: #81163F;">Food Details</span> 
  <div style="display: flex;justify-content: center;align-items: left;color: #81163F;opacity: 0;">
    <ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
    <span class="brand"></span>
  </div>
</div>


<div class="wrapper">
  <h1 style="text-align: center;">{{record.food_name}} Details</h1>
</div>

	<ion-card style="background-color: #ccbcc2;">
	  <ion-card-header>
	    <img style="height:200px;width:250px; max-width:500px;margin-left: auto;display: block;margin-right: auto;" src="assets/food-image/{{record.food_id}}.png" />
	  </ion-card-header>

	  <ion-card-content>
	  	<div style="text-align: center;">
	    <p style="font-size: 18px;color:black;padding: 0px; margin: 0px; ">{{record.food_description}}</p>
		</div>
	  </ion-card-content>

	   <ion-grid style="padding-top:1px;padding-left:30px;padding-right:30px;">
	      <ion-row>
	      <ion-col size="6">
	      	<ion-text>Restaurant</ion-text>
	      </ion-col>
	      <ion-col size="6" style="text-align: right;">
	      	<ion-text>Delivery Mode</ion-text>
	      </ion-col>
	  	</ion-row>
	      <ion-row>
	      <ion-col size="6">
	      	<ion-text><p style="font-weight: bold;padding: 0px; margin: 0px; font-size:14px;color:black;">{{record.restaurant_name}}</p></ion-text>
	      </ion-col>
	      <ion-col size="6" style="text-align: right;">
	      	<ion-text><p style="font-weight: bold;padding: 0px; margin: 0px; font-size:14px;color:black;">Self Pickup</p></ion-text>
	      </ion-col>
	  	</ion-row>

	  </ion-grid>
	 
	 <ion-grid style="padding-left:20px;">
	      <ion-row>
	      <ion-col size="6">

					<ion-col size="4"><ion-button  class="round ion-text-center"  (click)="decrement(record.food_price)"> - </ion-button>
					</ion-col >

					<ion-col size="4"><ion-text class="quantity">{{currentNumber}}</ion-text></ion-col>

					
					<ion-col size="4"><ion-button  class="round ion-text-left" style="padding-left:0" (click)="increment(record.food_price)"> + </ion-button>
					</ion-col>


	      </ion-col>
	      <ion-col size="6" style="text-align: right;">
	      	<ion-text><p style="font-weight: bold;padding: 0px; padding-right:25px;margin: 0px; font-size:25px;color:black;">RM {{total| number:'1.2-2'}}</p></ion-text>
	      </ion-col>
	  	</ion-row>

	  </ion-grid>
	    			

	</ion-card>


	<div class="center">
		<ion-button class="custom-button" expand="block" (click)="addCart(total,record.food_id,currentNumber)">Add to Cart</ion-button>
	</div>

</ion-content>


<ion-toolbar>
	<ion-tabs>
	  <!-- Tab bar -->
	  <ion-tab-bar slot="bottom">
	    <ion-tab-button (click)="backHome()">
	      <ion-icon [style.color]="'#81163f'"  name="home"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button (click)="cart()">
	      <ion-icon name="cart"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button (click)="history()">
	      <ion-icon name="reorder-four-outline"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button (click)="personal()">
	      <ion-icon name="person-circle-outline"></ion-icon>
	    </ion-tab-button>
	  </ion-tab-bar>
	</ion-tabs>
</ion-toolbar>
