<ion-header>
	<ion-toolbar>
		<ion-title style='font-weight: bold'>Food Details</ion-title>
		  	<div class="headBar">
				<div style="display: flex;justify-content: left;align-items: left;color: #493bff;" (click)="backHome()">
					<ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
					<span class="brand"></span>
					<!--p style="align-content: left; color:black; font-weight: bold;">Order History</p--> 
				</div>
				
			</div>
	</ion-toolbar>
</ion-header>

<!-- <ion-content>

</ion-content> -->


<ion-content>
		<ion-card>
	  <ion-card-header>
	    <ion-card-subtitle>{{record.food_name}}</ion-card-subtitle>
	    <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Nasi_Lemak%2C_Mamak%2C_Sydney.jpg">
	  </ion-card-header>

	  <ion-card-content>
	    <p style="font-size: 12px;">{{record.food_description}}</p>
	  </ion-card-content>
	  <div class="column">
            <div  id="button-div"><ion-button size="small"  (click)="cart" item-content >Add To Cart</ion-button></div>
          </div>
	</ion-card>
	<ion-tabs>
	  <!-- Tab bar -->
	  <ion-tab-bar slot="bottom">
	    <ion-tab-button (click)="home()">
	      <ion-icon name="home"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button (click)="cart">
	      <ion-icon name="cart"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button (click)="history()">
	      <ion-icon name="reorder-four-outline"></ion-icon>
	    </ion-tab-button>
	    <ion-tab-button (click)="personal()">
	      <ion-icon name="person-circle-outline"></ion-icon>
	    </ion-tab-button>
	  </ion-tab-bar>
	</ion-tabs>
</ion-content>
