<ion-content>
  <div class="headBar">

		<div style="display: flex;justify-content: center;align-items: center;color: #493bff;" (click)="govehicle()">
			<ion-icon name="arrow-back" style="font-size: 1.5rem;margin-right: 0.5rem;" ></ion-icon>
			<span class="brand">Back</span>
		</div>

	</div>


	<div class="wrapper">
		<h1 style="text-align: center;">Register Vehicle</h1>
	</div>
  <ion-row style="border-bottom: groove;">
    <ion-col col-2>
    <ion-label >Sticker ID</ion-label>
  </ion-col>
  <ion-col col-2>
    <ion-label >Plate Number</ion-label>
  </ion-col>
    <ion-col col-2>
    <ion-label >College</ion-label>
  </ion-col>
  <ion-col col-2>
    <ion-label >Apply Date</ion-label>
  </ion-col>
  <ion-col col-2>
    <ion-label >Status</ion-label>
  </ion-col>

</ion-row>
<ion-row style="border-bottom: groove;" *ngFor="let record of sticker_records">
    <ion-col col-4>
    <ion-label >{{record.id}}</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >{{record.vehiclePlateNo}}</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >{{record.stickerCollege}}</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >{{record.stickerDate}}</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >{{record.stickerStatus}}</ion-label>
  </ion-col>
</ion-row>

</ion-content>
